@import "../../scss/variables";
@import "../../scss/mixins";

.typeList {
  @include flex(row, space-evenly, 2rem);
  margin: 1rem;
  .card {
    width: 450px;
    height: 300px;
    position: relative;
    overflow: hidden;
    background-color: $blue-green;
    border-radius: 10px;
    img {
      width: 100%;
    //   height: 100%;
    position: absolute;
      top: 0;
    }
    .title {
      position: absolute;
      top: 45%;
      left: 0;
      background-color: $ut-orange;
      padding: 0 0.5rem;
      color: $prussian-blue;
      font-size: 1.3rem;
      padding: 1rem;
      border-radius: 20px;
      margin-left: 1rem;
      margin-top: 1rem;
      z-index: 1;
    }
    .type {
      position: absolute;
      top: 55%;
      left: 50%;
      color: $prussian-blue;
      h2{
        color: $ut-orange;
        text-transform: capitalize;
        text-align: center;
      }
    }
    &__over {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 25%;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      background-color: $ut-orange;
      border-radius: 10px;
      transform: translateX(100%);
      transition: transform 0.7s ease-in-out;
      color: $prussian-blue;
    }
    &:hover .card__over {
      transform: translateX(0%);
    }
  }
}
