@import "../../scss/variables";
@import "../../scss/mixins";
nav{
    @include flex(row,space-between,1rem);

    img{
        width: 100px;
    }
    ul{
        @include flex(row,center,2rem);
        margin-right: 3rem;
    }
    ul li{
        list-style: none;
        font-size: 1.3rem;
        color:$ut-orange;
        font-weight: 600;
        font-size: 1.5rem;
    }
}