@mixin flex($direction,$justify,$gap,$align:center){
    display: flex;
    justify-content: $justify;
    flex-wrap: wrap;
    align-items: $align;
    gap: $gap;
    flex-direction: $direction;
}